* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: sans-serif;
}

.header {
  margin: 1rem 0;
}

.container {
  position: relative;
  background-color: #4d8c81;
  color: aliceblue;
  margin: 2rem 0;
  padding: 1rem 3rem;
}

.height-100 {
  height: 100rem;
}

.A,
.B,
.C {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  padding: 0.5rem;
  background-color: #165873;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.B {
  background-color: #933045;
}

.B > * {
  margin-bottom: 0.5rem;
}

.static {
  position: static;
}

.relative {
  position: relative;
  top: 1rem;
  left: 3rem;
}

.absolute {
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.fixed {
  position: fixed;
  top: 5rem;
  right: 2rem;
  z-index: 1000;
}

.sticky {
  position: sticky;
  top: 1rem;
}
