* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

.header {
  margin: 1rem 0;
}

.container {
  position: relative;
  background-color: #4D8C81;
  color: aliceblue;
  margin: 2rem 0;
  padding: 1rem 3rem;
}

.A,
.B,
.C {
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 10rem;
  background-color: #165873;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.B {
  background-color: #A66D60;
}

.static {
  position: static;
}

.relative {
  position: relative;
  top: 1rem;
  left: 3rem;
}

.absolute {
  position: absolute;
  top: 3rem;
  right: 5rem;
}

.fixed {
  position: fixed;
  top: 5rem;
  right: 2rem;
}
